swagger: "2.0"
info:
  description: "thehash payment api"
  title: thehash
  version: 0.0.1
consumes:
  - application/json
produces:
  - application/json
schemes:
  - http
host: hash.hach.dev

securityDefinitions:
  sdkKey:
    description: SDK auth for bussiness clients
    type: apiKey
    in: header
    name: SDK-API-Key
  authKey:
    description: JWT Auth for clients
    type: apiKey
    in: header
    name: Authorization

security:
  - sdkKey: []

paths:
  /healthCheck:
    get:
      tags:
        - Standard
      security:
        - { }
      operationId: healthCheck
      responses:
        200:
          description: ok
          schema:
            type: object
            properties:
              ok:
                type: boolean
  /businessAuthCheck:
    get:
      tags:
        - Standard
      security:
        - sdkKey: []
      operationId: authCheck
      responses:
        200:
          description: ok
          schema:
            type: object
            properties:
              ok:
                type: boolean
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /payment/init:
    post:
      tags:
        - Payment
      operationId: init
      security:
        - sdkKey: []
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              amount:
                description: amount of payment
                example: "102.32"
                type: string
              currency:
                description: currency name
                example: "rub"
                type: string

      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/paymentInit"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /payment/crypto-init:
    post:
      tags:
        - Payment
      operationId: crypto-init
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              network:
                description: network name
                example: eth
                type: string
              token:
                description: token name
                example: eth
                type: string
              orderUid:
                description: uid of order
                example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
                type: string
      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/paymentCryptoInit"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /payment/crypto-sign:
    post:
      tags:
        - Payment
      operationId: crypto transaction sign
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              orderUid:
                description: uid of order
                example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
                type: string
              signedTx:
                description: signed tx hash
                example: ""
                type: string
      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/paymentCryptoSign"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /payment/check:
    post:
      tags:
        - Payment
      operationId: check transaction validate
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              orderUid:
                description: uid of order
                example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
                type: string
              txHash:
                description: transaction hash
                example: "0x49ce4bbfcb1354100a6c3e4d97047e39d05e20a1e67bf8b6093d28f54a96de61"
                type: string
      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/paymentCheck"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"


definitions:
  error:
    type: object
    required:
      - code
      - message
    properties:
      code:
        description: either same as HTTP Status Code OR >= 600.
        type: integer
        format: int16
      message:
        type: string
  permissionDenied:
    type: object
    required:
      - code
      - message
    properties:
      code:
        default: 403
        type: integer
        format: int16
      message:
        description: permission denied reason
        default: permission denied
        type: string
  badRequest:
    type: object
    required:
      - code
      - message
    properties:
      code:
        default: 400
        type: integer
        format: int16
      message:
        description: bad request reason
        default: bad request
        type: string
  internalServerError:
    type: string
  paymentCryptoSign:
    type: object
    required:
      - txHash
      - OrderUid
    properties:
      txHash:
        description: hash of transaction
        example: "0x49ce4bbfcb1354100a6c3e4d97047e39d05e20a1e67bf8b6093d28f54a96de61"
        type: string
      orderUid:
        description: uid of order
        example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
        type: string
  paymentCryptoInit:
    type: object
    required:
      - network
      - token
      - orderUid
      - wallet
    properties:
      network:
        description: network name
        type: string
        example: eth
      token:
        description: token name
        example: eth
        type: string
      orderUid:
        description: uid of order
        example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
        type: string
      wallet:
        description: wallet address
        example: "0x690b9a9e9aa1c9db991c7721a92d351db4fac990"
        type: string
  paymentInit:
    type: object
    required:
      - orderUid
    properties:
      orderUid:
        description: uid of order
        example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
        type: string
  paymentCheck:
    type: object
    required:
      - orderUid
      - validate
      - txHash
    properties:
      txHash:
        description: hash of transaction
        example: "0x49ce4bbfcb1354100a6c3e4d97047e39d05e20a1e67bf8b6093d28f54a96de61"
        type: string
      orderUid:
        description: uid of order
        example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
        type: string
      validate:
        description: count of validated blocks
        example: 10
        type: number
