swagger: "2.0"
info:
  description: API платежной системы "Перевод"
  title: Perevod
  version: 0.0.1
consumes:
  - application/json
produces:
  - application/json
schemes:
  - https
host: api-stub.perevod.io:8443
basePath: /api/v2

securityDefinitions:
  sdkKey:
    description: Используется для аутентификации касс
    type: apiKey
    in: header
    name: SDK-API-Key
  authKey:
    description: Используется в админке и в клиентской части приложения
    type: apiKey
    in: header
    name: Authorization

security:
  - sdkKey: [ ]

paths:
  /healthCheck:
    get:
      description: Нужен для проверки работоспособности серверной части
      summary: health-check
      operationId: health-check
      tags:
        - Standard
      security:
        - { }
      responses:
        200:
          description: ok
          schema:
            type: object
            properties:
              ok:
                type: boolean
  /authCheck:
    get:
      description: Нужен для проверки работоспособности ключа авторизации
      summary: auth-check
      operationId: auth-check
      tags:
        - Standard
      security:
        - { }
      responses:
        200:
          description: ok
          schema:
            type: object
            properties:
              ok:
                type: boolean
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /business/add:
    post:
      tags:
        - Business
      operationId: business-add
      description: Нужен для регистрации нового бизнеса в системе
      summary: business-add
      security:
        - authKey: [ ]
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              businessLegalName:
                description: business legal name
                example: "Кофейня Гостинная"
                type: string
              phoneNumber:
                description: Phone number of business
                example: "7999231123"
                type: string
              ownerLegalName:
                description: legal name of busines owner
                example: "Магомедов Магомед"
                type: string
              agreementDocumentUrl:
                description: url to agreement document
                type: string
      responses:
        200:
          description: business succesfully added
          schema:
            $ref: "#/definitions/business"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /business/suspend:
    post:
      tags:
        - Business
      description: Нужен для приостановления деятельности бизнеса в системе <h2 style="background-color:red">[Отключаются также все платежные терминалы]</h2>
      summary: business-suspend
      operationId: business-suspend
      security:
        - authKey: [ ]
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              id:
                description: id of business
                example: 10
                type: number

      responses:
        200:
          description: business succesfully suspended

        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /business/delete:
    post:
      tags:
        - Business
      operationId: business-delete
      summary: business-delete
      description: Нужен для удаления бизнеса в системе <h2 style="background-color:red">[Удаление невозможно при наличии активных терминалов]</h2>
      security:
        - authKey: [ ]
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              id:
                description: id of business
                example: 10
                type: number
      responses:
        200:
          description: business succesfully deleted
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /business/{businessUuid}:
    get:
      tags:
        - Business
      operationId: business-get
      description: Нужен для получения бизнеса по UUID
      summary: business-get
      security:
        - authKey: [ ]
      parameters:
        - in: path
          name: businessUuid
          type: string
          required: true
          description: uuid of business
      responses:
        200:
          description: business
          schema:
            $ref: "#/definitions/business"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /business/list:
    post:
      tags:
        - Business
      description: Выводит список бизнесов в системе
      summary: business-list
      operationId: business-list
      security:
        - authKey: [ ]
      parameters:
        - name: body
          in: body
          schema:
            $ref: "#/definitions/listParams"
      responses:
        200:
          description: business list
          schema:
              type: array
              items:
                $ref: "#/definitions/business"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"

  /cashier/add:
    post:
      tags:
        - Cashier
      description: Нужна для регистрации новой кассы в системе
      operationId: cashier-add
      summary: cashier-add
      security:
        - authKey: [ ]
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              businessUuid:
                description: id of business
                example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
                type: string
              address:
                description: cashier location
                example: "Героев Дагестана 8"
                type: string
              openFrom:
                description: shop work start time
                example: 1000
                type: number
              openTo:
                description: shop work end time
                example: 2000
                type: number
              sdkKey:
                description: sdk key of cashier
                example: "test"
                type: string
              sdkVersion:
                description: sdk version
                example: "1.0"
                type: string
      responses:
        200:
          description: cashier succesfully added
          schema:
            $ref: "#/definitions/cashier"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /cashier/suspend:
    post:
      tags:
        - Cashier
      description: Нужна для приостановления кассы в системе
      operationId: cashier-suspend
      summary: cashier-suspend
      security:
        - authKey: [ ]
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              id:
                description: uuid of business
                example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
                type: string
      responses:
        200:
          description: cashier succesfully suspended
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /cashier/delete:
    post:
      tags:
        - Cashier
      operationId: cashier-delete
      description: Нужна для удаления кассы в системе
      summary: cashier-delete
      security:
        - authKey: [ ]
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              id:
                description: uuid of business
                example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
                type: string
      responses:
        200:
          description: business succesfully suspended
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /cashier/{cashierUuid}:
    get:
      tags:
        - Cashier
      operationId: cashier-get
      description: Нужна для получения информации по кассе
      summary: cashier-get
      security:
        - authKey: [ ]
      parameters:
        - in: path
          name: cashierUuid
          type: string
          required: true
          description: uuid of cashier
      responses:
        200:
          description: cashier
          schema:
            $ref: "#/definitions/cashier"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /cashier/list:
    post:
      tags:
        - Cashier
      operationId: cashier-list
      description: Нужна для получения списка касс
      summary: cashier-list
      security:
        - authKey: [ ]
      parameters:
        - name: body
          in: body
          schema:
            $ref: "#/definitions/listParams"
      responses:
        200:
          description: cashier list
          schema:
            type: array
            items:
              $ref: "#/definitions/cashier"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /cashier/connect:
    post:
      tags:
        - Cashier
      operationId: cashier-connect
      description: Нужна для получения кассой sdkKey, чтобы в дальнейшем делать запросы по инициализации заказа и получения информации по чеку
      summary: cashier-connect
      security:
        - { }
      parameters:
        - name: body
          in: body
          schema:
            type: object
            required:
              - deviceId
            properties:
              deviceId:
                description: id of device
                example: "321321"
                type: string
      responses:
        200:
          description: success response for connect
          schema:
            $ref: "#/definitions/cashierConnect"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /payment/cashier/init:
    post:
      tags:
        - Payment
      operationId: payment-cashier-init
      description: Нужна для инициализации нового заказа кассой
      summary: payment-cashier-init
      security:
        - sdkKey: [ ]
      parameters:
        - name: body
          in: body
          schema:
            type: object
            required:
              - amount
              - currency
            properties:
              amount:
                description: amount of payment
                example: "102.32"
                type: string
              currency:
                description: currency name
                example: "rub"
                type: string
              payload:
                description: json of the order (some fields)
                example: {
                  "some_filed": "some_data"
                }
                type: object

      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/paymentInit"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /payment/cashier/print:
    get:
      tags:
        - Payment
      operationId: payment-cashier-print
      description: Нужна для того чтобы показать клиенту чек
      summary: payment-cashier-print
      security:
        - sdkKey: [ ]
      parameters:
        - in: query
          name: orderUuid
          type: string
          required: true
          description: uuid of order
        - in: query
          name: type
          required: true
          type: string
          description: paper | screen
      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/paymentPrint"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /payment/crypto/init:
    post:
      tags:
        - Payment
      operationId: payment-crypto-init
      security:
        - authKey: []
      description: '
      Нужна на стороне клиента, чтобы продолжить работу с заказом, который инициализировал касовый аппарат
      По флов, ручка вызвается в моменте сканирования QR кода клиентом
      '
      summary: payment-crypto-init
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
            - network
            - token
            - orderUuid
            properties:
              network:
                description: network name
                example: eth
                type: string
              token:
                description: token name
                example: eth
                type: string
              orderUuid:
                description: uuid of order
                example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
                type: string
      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/paymentCryptoInit"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /payment/crypto/approve:
    post:
      tags:
        - Payment
      operationId: payment-crypto-approve
      description: Нужна для подтверждения оплаты клиентом
      summary: payment-crypto-approve
      security:
        - authKey: []
      parameters:
        - name: body
          in: body
          schema:
            type: object
            required:
              - orderUuid
              - txHash
            properties:
              orderUuid:
                description: uuid of order
                example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
                type: string
              txHash:
                description: hash of tx
                example: "0x49ce4bbfcb1354100a6c3e4d97047e39d05e20a1e67bf8b6093d28f54a96de61"
                type: string
      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/paymentCryptoApprove"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /payment/crypto/validate:
    post:
      tags:
        - Payment
      operationId: payment-crypto-validate
      description: Нужна для проверки успешности транзакции
      summary: payment-crypto-validate
      security:
        - authKey: []
      parameters:
        - name: body
          in: body
          schema:
            required:
              - orderUuid
              - txHash
            type: object
            properties:
              orderUuid:
                description: uuid of order
                example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
                type: string
              txHash:
                description: transaction hash
                example: "0x49ce4bbfcb1354100a6c3e4d97047e39d05e20a1e67bf8b6093d28f54a96de61"
                type: string
      responses:
        200:
          description: ok
          schema:
            $ref: "#/definitions/paymentCheck"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"

  /payment/crypto/price/{orderUuid}:
    get:
      description: Получение обновленной цены по orderuuid
      summary: payment-price
      operationId: payment-price
      tags:
        - Payment
      security:
        - authKey: []
      parameters:
        - in: path
          name: orderUuid
          type: string
          required: true
          description: uuid of order
      responses:
        200:
          description: cashier
          schema:
            $ref: "#/definitions/paymentCryptoPrice"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"

  /payment/crypto/wallets:
    get:
      tags:
        - Payment
      description: Выводит список поддерживаеммых кошельков
      summary: wallet-list
      operationId: wallet-list
      security:
        - authKey: [ ]
      responses:
        200:
          description: wallet list
          schema:
              type: array
              items:
                $ref: "#/definitions/wallet"
        400:
          description: bad request
          schema:
            $ref: "#/definitions/badRequest"
        403:
          description: permission denied
          schema:
            $ref: "#/definitions/permissionDenied"
        500:
          description: internal server error
          schema:
            $ref: "#/definitions/internalServerError"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"


definitions:
  error:
    type: object
    required:
      - code
      - message
    properties:
      code:
        description: either same as HTTP Status Code OR >= 600.
        type: integer
        format: int32
      message:
        type: string
  permissionDenied:
    type: object
    required:
      - code
      - message
    properties:
      code:
        default: 403
        type: integer
        format: int32
      message:
        description: permission denied reason
        default: permission denied
        type: string
  badRequest:
    type: object
    required:
      - code
      - message
    properties:
      code:
        default: 400
        type: integer
        format: int32
      message:
        description: bad request reason
        default: bad request
        type: string
  internalServerError:
    type: string
  paymentCryptoInit:
    type: object
    required:
      - network
      - token
      - orderUuid
      - wallet
      - tokenedAmount
      - amount
      - currency
    properties:
      network:
        description: network name
        type: string
        example: eth
      token:
        description: token name
        example: eth
        type: string
      orderUuid:
        description: uuid of order
        example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
        type: string
      wallet:
        description: wallet address
        example: "0x690b9a9e9aa1c9db991c7721a92d351db4fac990"
        type: string
      tokenedAmount:
        description: count of tokens for order
        example: "0.001"
        type: string
      amount:
        description: amount of payment
        example: "99"
        type: string
      currency:
        description: currency of amount
        example: "rub"
        type: string
  paymentInit:
    type: object
    required:
      - orderUuid
    properties:
      orderUuid:
        description: uuid of order
        example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
        type: string
  paymentCheck:
    type: object
    required:
      - orderUuid
      - txHash
      - approveProgress
      - approvesCount
    properties:
      txHash:
        description: hash of transaction
        example: "0x49ce4bbfcb1354100a6c3e4d97047e39d05e20a1e67bf8b6093d28f54a96de61"
        type: string
      orderUuid:
        description: uuid of order
        example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
        type: string
      approveProgress:
        description: current approved counts
        example: 3
        type: integer
      approvesCount:
        description: max approves count
        example: 10
        type: integer
  paymentCryptoApprove:
    type: object
    required:
      - rps
      - token
      - txHash
      - orderUuid
      - tokenedAmount
    properties:
      txHash:
        description: hash of tx
        example: "0x49ce4bbfcb1354100a6c3e4d97047e39d05e20a1e67bf8b6093d28f54a96de61"
        type: string
      orderUuid:
        description: uuid of order
        example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
        type: string
      token:
        description: token name
        example: eth
        type: string
      tokenedAmount:
        description: count of tokens for order
        example: "0.001"
        type: string
      rps:
        description: requeest per seconds for order validate
        example: 10
        type: integer
  paymentPrint:
    type: object
    required:
      - paperPrint
      - screenPrint
    properties:
      paperPrint:
        description: Если выбран тип "paper"
        example: '{
                  "type": "print",
                  "payload": {
                    "uuid": 46464646,
                    "request": [
                      {
                        "type": "nonFiscal",
                        "items": [
                          {
                            "type": "text",
                            "text": "Текст свободной форме",
                            "alignment": "left | center | right"
                          },
                          {
                            "type": "barcode",
                            "barcode": "тут гр код",
                            "barcodeType": "QR",
                            "scale": 6
                          }
                        
                        ]
                      }
                    ]
                  }
                }'
        type: object
      screenPrint:
        description: Если выбран тип "screen"
        example: "https://someurl.perevod.io/00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
  listParams:
    type: object
    description: params for list method
    properties:
      limit:
        type: integer
        minimum: 1
      offset:
        type: integer
        minimum: 0
      filterGroups:
        type: array
        items:
          $ref: "#/definitions/filterGroup"
      sortBy:
        type: string
      orderBy:
        type: string
        enum: [ ASC, DESC ]
  filterGroup:
    type: object
    description: params for grouping filters
    properties:
      key:
        type: string
      logicFilter:
        description: "Comparing option: true == 'AND', false == 'OR'"
        type: boolean
      filters:
        type: array
        items:
          $ref: "#/definitions/filter"

  filter:
    type: object
    properties:
      value:
        type: string
      operator:
        description: "enum ==, !=, <, >, <=, >=, in, !in"
        type: string
      ignoreCase:
        type: boolean

  business:
    type: object
    required:
      - businessName
      - ownerName
      - phoneNumber
      - createdAt
      - updatedAt
      - isActive
      - agreementDocumentUrl
    properties:
      businessName:
        description: business name
        example: "Гостинная"
        type: string
      ownerName:
        description: owner name
        example: "Магомедов Магомед"
        type: string
      phoneNumber:
        description: phone number
        example: "79991234213"
        type: string
      createdAt:
        description: business connected to us timestamp
        example: 213321321321
        type: integer
      updatedAt:
        description: last business fields updated timestamp
        example: 10321321321
        type: number
      isActive:
        description: is active
        example: true
        type: boolean
      agreementDocumentUrl:
        description: url to agreement document
        example: "https://some.ru/file.pdf"
        type: string
  cashier:
    type: object
    required:
      - businessName
      - latestConnection
      - sdkKey
      - deviceId
      - sdkVersion
      - address
      - isActive
      - openTo
      - openFrom
    properties:
      businessName:
        description: business name
        example: "Гостинная"
        type: string
      latestConnection:
        description: timestamp of latest connection
        example: 321321312
        type: number
      sdkKey:
        description: sdk key of device
        example: "321321321321"
        type: string
      deviceId:
        description: device id
        example: "213321321321"
        type: string
      sdkVersion:
        description: version of device
        example: "2.1"
        type: string
      address:
        description: address of cashier
        example: "Героев Дагестана 8"
        type: string
      openTo:
        description: working end time "22:00" == 2200
        example: 2200
        type: number
      openFrom:
        description: working start time "10:00" == 1000
        example: 1000
        type: number
      isActive:
        description: is active
        example: true
        type: boolean
  cashierConnect:
    type: object
    properties:
      sdkKey:
        type: string
        example: "test-test"
        description: unique sdk key for cahier

  paymentCryptoPrice:
    type: object
    required:
      - network
      - token
      - orderUuid
      - tokenedAmount
      - amount
      - currency
    properties:
      network:
        description: network name
        type: string
        example: eth
      token:
        description: token name
        example: eth
        type: string
      orderUuid:
        description: uuid of order
        example: "00ff1c0e-f0c2-41b1-b940-224995c8bdfe"
        type: string
      tokenedAmount:
        description: count of tokens for order
        example: "0.001"
        type: string
      amount:
        description: amount of payment
        example: "99"
        type: string
      currency:
        description: currency of amount
        example: "rub"
        type: string
  wallet:
    type: object
    required:
      - network
      - token
    properties:
      network:
        description: network name
        type: string
        example: eth
      token:
        description: token name
        example: eth
        type: string
